@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Dancing+Script:wght@400..700&family=Dynalight&family=Gloria+Hallelujah&family=Grape+Nuts&family=Great+Vibes&family=Parisienne&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #27221F;
}

.textAreaWrapper {
    height: 30vh;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (orientation: portrait) {
    .textAreaWrapper {
        width: 90vw;
    }
}

@media (orientation: landscape) {
    .textAreaWrapper {
        width: 30vw;
    }
}

.messageField {
    width: 100%;
    height: calc(100% - 3rem);
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
    font-size: 25px;
}

.bottomBar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.characterCount {
    font-size: 14px;
}

.dropdownContainer {
    position: relative;
}

.dropdownButton {
    cursor: pointer;
    font-size: 18px;
}

.dropdownMenu {
    position: absolute;
    width: 150px;
    bottom: 100%;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
}

.dropdownItem {
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
}

.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.sendIcon {
    width: 100%;
    height: 100%;
    font-size: 100%;
    color: #f5f5f5;
}

.sendIcon:hover {
    color: #c4c4c4;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.statusContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in forwards;
    height: 100%;
}

.successIcon {
    font-size: 50%;
    height: 50%;
    padding-bottom: 10px;
}

.successMessage {
    text-align: center;
    font-size: 25px;
}

.failureMessage {
    font-size: 18px;
    color: red;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}